<!DOCTYPE html>
<html {% block xmlns %}{% endblock %} lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}Goocus Pro{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
{# <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script> #}
<script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
{% load url from future %}
{% if user.userprofile.organization.agent.id %}

$(function(){
	$(window).load(function(){
		$.getJSON(
        "{% url 'mnt:cms_info_message' agent_id=user.userprofile.organization.agent.id %}",
		{},
		function(json, status) {			
		  $("#newsticker.ul").remove();
		  $.each(json.messages, function(i,items) {
	　　　　　$("#newsticker").append($("<li id=#newsticker-li" + i+1 + "><a onclick='info_deteil(this.text); return false;' class='info-bar' id='aaa" + i+1 + "' href='#infoModal' data-toggle='modal' class='info_confirm'><div class='el'>" + items + "</div></a></li>"));
		  });
		  function ticker(){
	        if($('#newsticker li').length<=1) return false;
			$('#newsticker li:first').slideUp( function(){
			  $(this).appendTo($('#newsticker')).slideDown();
			});
		   }
		  setInterval(function(){ticker()}, 5000);
	    });
	});
	$('.info_confirm').on('click', function () {
//	$("[id^=aaa]").on('click', function () {
	var text = $(this).text
      $("#info_text").text($(this).text);
      $('#del_url').attr('href', $(this).attr("url"));
    });
});
function info_deteil(info_text) {
  $(".info_text").text(info_text); 
}
{% endif %}
</script>


<style type="text/css">
{% if logo_url %}
.navbar .brand {
  padding: 0 0 0 20px;
}
.navbar .brand > img{
  max-height: 40px;
}
{% endif %}
@media (min-width: 1200px) {
  .nav-collapse .nav > li.wrap_ticker {
    width: 600px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .nav-collapse .nav > li.wrap_ticker {
    width: 400px;
  }
}

@media (max-width: 979px) {
  .nav-collapse .nav > li.wrap_ticker {
    margin-bottom: 2px;
    padding: 9px 15px;
  }
}
.ticker {
	margin: 7.5px auto 0px;
	padding: 1.5px 0px 18px 8px;
	text-align: left;
	border: #ccc 1px solid;
	position: relative;
	overflow: hidden;
    border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */  	
}

.ticker ul {
	width: 100%;
	position: relative;
}

.ticker ul li {
	width: 100%;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.info-bar {
　text-decoration: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.el {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info_text {
/*  width:500px;*/
  height:150px;
/*  font-size:12px;*/
  resize:none;
}

</style>

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}
<body>
  {% block bodytop %}
  {% endblock %}
      
  {% block navbar %}
  {% endblock %}
  <div class="container {% block container_class %}{% endblock %}">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div><!-- end container -->
</body>
</html>

 <!-- Info Deteil Dialog -->
 <div class="modal hide fade" id="infoModal">
   <div class="modal-header">
     <a class="close" data-dismiss="modal">×</a>
     <h3>{% trans "Information" %}</h3>
   </div>
   <div class="modal-body">
     <textarea class="info_text " rows=6 readonly></textarea>
   </div>
   <div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">{% trans "close" %}</a>
   </div>
</div>