{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block extrahead %}
<script>
$(function(){
  $('input#id_username').addClass('span12');
  $('input#id_password').addClass('span12');
});
</script>
<style type="text/css">
body {
  background-color: #FCFCFC;
}
.dialog, 
.row-fluid [class*="span"].dialog,
.row-fluid [class*="span"].dialog:first-child {
  margin: 0 auto;
  float: none;
}
.block {
  border: 1px solid #CCC;
  background: white;
  margin: 1em 0em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.block-heading {
  border-bottom: 1px solid #CCC;
  padding: 8px 15px;
  background-color: whiteSmoke;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.block-body {
 margin: 1em;
}
input[type="submit"] {
}
#login-option {
  color: #777;
  line-height: 1.7em;
}
</style>
{% endblock %}

{% block content %}
<div class="row-fluid">
{% if form.errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>{{ error }}
  </div>
  {% endfor %}
{% endif %}
<div class="dialog span5">
  <div class="block">
    <p class="block-heading">{% trans "Sign In" %}</p>
    <div class="block-body">
      {% comment %}
      <!-- form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %} -->
      {% endcomment %}
      <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
        <fieldset>
          {{ form.username.label_tag }}
          {{ form.username }}
          {{ form.password.label_tag }}
          {{ form.password }}
          <input type="hidden" name="next" value="{{ next }}" />
          <input type="submit" class="btn btn-block" value="{% trans 'login' %}" />
        <fieldset>
      </form>
    </div>
  </div>

  <p id="login-option">{% trans "Forgot your password?" %}&nbsp;<a href="{% url 'auth_password_reset' %}">{% trans "Here" %}</a><br>
  {% comment %}
  {% trans "Need an account?" %}&nbsp;<a href="{% url 'registration_register' %}">{% trans "Here" %}</a></p>
  {% endcomment %}
</div>
</div>
{% endblock %}
