{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Logged out" %}{% endblock %}

{% block extrahead %}
</script>
<style type="text/css">
body {
  background-color: #FCFCFC;
}
.container {
  margin-top: 40px;
}
.logout {
  margin: 0 auto;
  float: none;
}
p {
  color: #777;
}
</style>
{% endblock %}

{% block content %}
<div class="logout span5">
<h4>{% trans "Successfully logged out!" %}</h4>

<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

<p><a href="{% url 'auth_login' %}">{% trans 'Log in again' %}</a></p>
</div>
{% endblock %}
