{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load url from future %}
{% load bootstrap %}
{% block title %}{% trans "Password change" %}{% endblock %}
{% block content %}
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h3 class="page-header">{% trans 'Password change' %}</h3>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method='post' action='' class="form-horizontal">{% csrf_token %}
  <fieldeset>
    {{ form|bootstrap }}
    <div class="form-actions">
      <input type="submit" value="{% trans 'Password change' %}" class="btn">
    </div>
  </fieldeset>
</form>
{% endblock %}
