{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load url from future %}
{% load bootstrap %}
{% block title %}{% trans "Password change successful" %}{% endblock %}
{% block content %}

<h3 class="page-header">{% trans 'Password change successful' %}</h3>

<p>{% trans 'Your password was changed.' %}</p>

<p><a href="{% url 'top' %}">{% trans 'Back' %}</a></p>
{% endblock %}

