<!DOCTYPE html>
<html {% block xmlns %}{% endblock %} lang="ja">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block content %}{% endblock %}
